@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @{
        Html.RenderAction("PhoneProduct", "Home");
        Html.RenderAction("LaptopProduct", "Home");
        Html.RenderAction("IpadProduct", "Home");
    }
    
</div>


