@{
    ViewBag.Title = "Cart";
}

@Styles.Render("/Content/Cart/cart-item.css")

    <div class="container my-5">
        <div class="card p-4">
            <h1>Giỏ hàng rỗng</h1>
        </div>
    </div>
}

