
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderSuccess</title>
</head>
<body>
    <div style="margin-top:50px; text-align:center"> 
        Giao dịch thành công
    </div>
</body>
</html>
